@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

body {
    overflow-x: hidden;
    background: white;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
        helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    ;
}

.swal2-container.swal2-center {
    position: fixed;
    z-index: 100000;
}

.css-fl1c6m-InputArea__input {
    border: transparent;
}